body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
}
.about {
    font-size: 80px;
    font-weight: bolder;
}
.tags {
    color: rgb(38, 245, 183); !important
}
.material-icons {
    color: rgb(38, 245, 183)
}