* {
    font-family: sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}       

.bg-overlay {
    width: 100%;
}

.background-container {
    position: relative;
    z-index: 2;
}

.hero-text {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 18%;
    width: 65%;
    height: auto;
}

.hero-badge {
    position: absolute;
    top: 18%;
    left: 83%;
    z-index: 4;
    width: 14%;
    height: auto;
}

.background-green {
    background-color: rgb(10, 180, 138);
}

a{
    font-size: 2rem;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

  .border-button {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  }

.testimonial-border{
    border: 5px solid green;
    min-height: 200px;
    max-height: 300px;
    border-radius: 20px !important;
}

.headshot {
    width: 20%;
    height: auto;
    border-radius: 50%;
}