/* @font-face{
    font-family: 'Warownia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Warownia Regular'), url('./fonts/warownia/Warownia.woff') format('woff');
} */

* {
    font-family: sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    
}       

.bg-overlay {
    width: 100%;
}

.background-container {
    position: relative;
    z-index: 2;
}

.hero-text {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 18%;
    width: 65%;
    height: auto;
}

.hero-badge {
    position: absolute;
    top: 18%;
    left: 83%;
    z-index: 4;
    width: 14%;
    height: auto;
}

.background-green {
    background-color: #0C9077;
}

a{
    font-size: 2rem;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(204, 200, 200) !important;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

  .border-button {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  }

.testimonial-border{
    border: 5px solid #0C9077;
    min-height: 200px;
    max-height: 300px;
    border-radius: 20px !important;
}

.headshot {
    width: 20%;
    height: auto;
    border-radius: 50%;
}

.bg-black {
    background-color: black !important;
}

.border-none {
    border: none !important;
    outline: none !important;
}

.location-border-1{
    min-height: 400px;
    /* max-height: 300px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid #0C9077;
}

.location-border-2{
    min-height: 400px;
    /* max-height: 300px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid #0C9077;
}

.gradient-text{
    background-image: linear-gradient(to right, #40B04A, #0077B3);
    font-weight: bolder;
    font-size: 7vw !important;
    background-size: 100%;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-color: #40B04A;
}

.heading-text {
    font-weight: bold !important;
    font-size: 7vw !important;
}

.pointer {
    cursor: pointer;
}

.link-text{
    font-size: 4vw;
}

.logo-width{
    width: 60% !important;
    height: auto;
}

.nav-socials {
    font-size: 5vw !important;
}

.bg-none {
    background-color: transparent !important;
    color: #0C9077;
}

.plan-heading {
    font-weight: bold;
    font-size: 4vw;
}

.plan-highlighted {
    color: #40B04A;
    font-weight: bold;
    font-size: 2.5vw;
}

.plan-para{
    font-size: 1.6vw;
}

.watch-video {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 1vw;
    width: 20%;
}

.embed-map{
    width: 100%;
    height: 100%;
}

.social-icon {
    color: white;
    font-size: 3vw;
    cursor: pointer;
}

.location-icon {
    color: black;
    font-size: 2.5vw;
    cursor: pointer;
}

.fb:hover {
    color: #0077B3;
}

.twitter:hover {
    color: #0077B3;
}

.whatsapp:hover {
    color: #40B04A;
}

.pricing-chart{
    width: 120%;
    height: auto;
}

.modal-header{

}

.location-text{
    font-size: 1.5vw;
    cursor: none;
}

.input-field {
    font-weight: bold;
    /* font-size: 4vw !important; */
}

.course-select-boxes{
    border: 1px solid #0077B3;
    background-color: rgba(0, 119, 179, 0.1);
    /* min-height: 50vh; */
    /* max-height: 150px; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle-plus{
    border: 2px solid black;
    color: black;
    font-size: 3vw;
    border-radius: 70%;
    width: 30%;
    height: auto;
    /* position: relative;
    left: 33%; */
}

.modal{
    width: 50vw !important;
    min-height: 40vh;
    height: 700px !important;
}

.amount-box-1 {
    border: 5px solid #40B04A;
    border-right: 3px solid #40B04A !important;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
}

.amount-box-2{
    border: 5px solid #40B04A;
    border-left: 3px solid #40B04A !important;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;

}

.submit-button{
    /* color: white; */
    /* background-color: #40B04A; */
    border: none;
    outline: none;
    /* border-radius: 50%; */
    width: 30vw;
    font-weight: bolder;
}
.upload-button{
    /* color: white; */
    /* background-color: #40B04A; */
    border: none;
    outline: none;
    /* border-radius: 50%; */
    width: 100px;
    font-weight: bolder;
}

.attempt-select{
    /* position: relative;
    top: 140px; */
}

.remove-a {
    text-decoration: none;
    font-size: 1vw;
}

.feature-margin{
    margin-top: 350px !important;
}

.course-chart{
    width: 10vw;
    cursor: pointer;
}
.course-chart-02{
    width: 10vw;
    cursor: pointer;
}
.course-chart-03{
    width: 10vw;
    cursor: pointer;
}

.course-chart:hover, .course-chart-02:hover, .course-chart-03:hover {
    box-shadow: 5px 10px 8px 10px #888888;
}

.dp-none{
    display: none;
}

.toggle{
    color: white;
    cursor: pointer;
}

.toggle:hover{
    color: white;
    cursor: pointer;
}

.registration-text{
    background-color: #0C9077;
    color: white;
    font-size: 5vw;
}

#papers-count {
    border: 3px solid black;
    font-size: 3vw;
    font-weight: bold;
    display: inline-block;
    width: 70px;
    text-align: center;
    /* padding: 5px; */
}

#papers-text{
    font-size: 3vw;
    font-weight: bold;
}

.height100 {
    width:80%;
    height: auto;
}

.name-margin {
    margin-top:80px !important;
}