*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.mainDive{
    /* background-color: rgb(248, 245, 241); */
    width: 100% !important;
    height: 100vh !important;
    /* padding-top: 20px; */
}


.innerDiv{
    /* padding: 20px; */
    border: 1px solid rgb(177, 177, 177);
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    /* background-color: rgb(241, 241, 241); */
}


.signupBtn{
    border: 1px solid rgb(172, 172, 172);
}