* {
    margin: 0;
    padding: 0;
    color: black;
    /* font-size: 2em; */
    border-radius: 50px;
    /* font-family: monospace; */
}

body {
    background-color: rgb(187, 209, 235);
}
.main {
    width: 33%;
    margin: 50px auto;
    /* border: 1px solid blue; */
    border-radius: 0;
}

#input {
    width: 94.8%;
font-size: 2em;
padding: 10px;
}



.line-one {
    width: 74.5%;
    height: 40px;
    margin-top: 0px;
    margin-right: 1px;
    font-size: 1.5em;
    background-color: rgb(179, 179, 179);
}

.line-one:hover, .line-two:hover, .line-three:hover, .line-four:hover, .line-five:hover {
    color: white;
    font-size: 1.8em;

}

.line-two {
    width: 24.18%;
    height: 40px;
    margin-top: 10px;
    font-size: 1.5em;
    background-color: rgb(179, 179, 179);


}

.line-three {
    width: 24.18%;
    height: 40px;
    margin-top: 10px;
    font-size: 1.5em;
    background-color: rgb(179, 179, 179);

}

.line-four {
    width: 24.18%;
    height: 40px;
    margin-top: 10px;
    font-size: 1.5em;
    background-color: rgb(179, 179, 179);

}

.line-five {
    width: 49.25%;
    height: 40px;
    margin-top: 10px;
    font-size: 1.5em;   
    background-color: rgb(179, 179, 179);

}
