* {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.1rem;
    

}

body {
    background-color: #33D7FF;
    margin: 0;

}

h1 {
    text-align: center;
    letter-spacing: 0.2rem !important;
    font-size: 3rem;
}


.main {
    /* height: 90vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #33FF57;
    margin: 0;

}

.text {
    font-size: 2rem;
}

#image {
    width: 35%;
    
   
}



.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
#btn {
    margin: 10px 0;
}

.gender {
    font-style: italic;
    
}

#male, #female, label {
    cursor: pointer;
}

#male {
    margin-bottom: 10px;
    
}

#btn {
    border: none;
    outline: none;
    background-color: #FF336B ;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    transition: background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;

}

#btn:hover {
    background-color: #e40440;
    color: white;
    box-shadow: 3px 3px 5px -1px rgb(99, 99, 99);
}

#inpVal{
    margin: 10px;
    background-color: rgb(218, 0, 83);
    width: 100%;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    border: none;
    outline: none;
}

@media screen and (max-width: 500px) {
    #image {
        width: 55%;
    }
  }
@media screen and (max-width: 300px) {
    #image {
        width: 70%;
    }
  }

